# 🗃️ Бази даних
*.sqlite
*.db

# 🐍 Python кеш
__pycache__/
*.py[cod]
*.pyo

# 📓 Jupyter ноутбуки: автозбереження
.ipynb_checkpoints/

# 🔐 Секретні дані
.env

# 🖥️ Системні файли macOS
.DS_Store

# 📝 Логи
*.log

# 🤖 Віртуальні середовища
venv/


